.colors {
color: #45A9F9;
;color: #6FC1FF;
;color: #B084EB;
color: #B084EB60;
 color: #BCAAFE;
color: #19f9d8;
color: #6FE7D2;
color: #19f9d899;

color: #09ff00;
color: #0ae6a4;
color: #00ff99;
color: #FFCC9560;
color: #FF4B82;

color: #FF2C6D;
color: #FF4B82;
color: #FFB86C;
 color: #FFCC95;

color: #FF75B5;
color: #FF9AC1;
color: #FF9AC170;

}